
body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Red Rose', cursive;
  font-size: medium;
  }
  
  h1 {
    text-align: center;
  }
  
  #content {
    margin-top: 20px;
  }
  